@model WebApplication2.Models.CityFilterViewModel

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
<div class="form-horizontal">
    @Html.TextBoxFor(model => model.Name)
    @Html.TextBoxFor(model => model.Email)
    <button type="submit">Submit</button>

    @foreach()

</div>  
