body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    background-image:url(../Content/img/background-clearing.jpg);
    background-repeat:no-repeat;
    height:100%;
}
.main {
    height:100vh;
}

.mines {
    margin-left:300px;
    margin-top:200px;
}

.mines {
    font-size:x-large;
}

td {
    background-color: lightgreen;
}

.mine-detail {
    margin:10px;
    padding:50px;
    background-color:white;
    border-color:green;
    border-width:1px;
    border-style: solid;
    border-radius:25px;
}

#village-image
{
    position: absolute;
    top: 203px;
    left: 587px;
}

.mine-wrapper {
    position: absolute;
    top: 203px;
    left: 587px;
}

.mine-level {
    transition: all .2s linear;
    position: absolute;
    top: 100px;
    left: 100px;
    background: green;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.mine-level:hover{
    transform: scale(1.5);
}

.mine-clay {
    top: 72px;
    left: 225px;
    background: red;
}
.mine-iron {
    top: 84px;
    left: 342px;
    background: white;
}
.mine-wheat {
    top: 157px;
    left: 126px;
    background: yellow;
}
.mine-wood {
    top: 194px;
    left: 250px;
    background: green;
    transform: translate(10.5px, 8.3px);
}

@keyframes upgrading{
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.upgrading{
    animation: upgrading .5s infinite;
}

#mine-details-container{
    position: absolute;
    top: 100px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    display: none;
    background: #fff;
    min-height: 300px;
}

#mine-details-container.show{
    display: block;
}

#mine-details-container > .close-btn{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}